body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 500px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
	text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

@media (max-width: 480px) {
    .calculator {
        padding: 40px;
    }
    button {
        padding: 20px;
        font-size: 20px;
    }
    input[type="text"] {
        font-size: 20px;
    }
}
